.md-header__button.md-logo img, .md-header__button.md-logo svg {
    fill: currentcolor;
    display: block;
    height: 3.2rem;
    width: auto;
}
.md-header__title {
    flex-grow: 1;
    font-size: 1.6rem;
    height: 2.4rem;
    line-height: 2.4rem;
}